<%= provide(:title, "New Book") %>
<%= javascript_include_tag 'newBook'%>
<!-- <h1>New Book</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @book do |f| %>

      <%= render 'layouts/shared/error_messages', holder: @book %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :author_first %>
    <%= f.text_field :author_first %>

    <%= f.label :author_last %>
    <%= f.text_field :author_last %>


    <%= f.fields_for :reviews do |rf| %>
    <%= rf.label :review %>
    <%= rf.text_area :content %>
    <% end %>

    <%= f.submit "Create Book", class: "btn btn-primary" %>
    <% end %>
  </div>
</div> -->

<hr>

<h1>New Book</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form id="book-form" action="index.html" method="post">
      <label for="">Title</label>
      <input type="text" name="title" value="">
      <label for="">Author first</label>
      <input type="text" name="author-first" value="">
      <label for="">Author last</label>
      <input type="text" name="author-last" value="">
      <label for="">Review</label>
      <input type="text_area" name="review" value="">
      <input type="submit" name="" value="Create Book" class="btn btn-primary" >
    </form>
  </div>
</div>

<script type="text/javascript">


  let form = document.getElementById('book-form')

  form.addEventListener('submit', e => {
    let title = form.elements['title']
    let author_first = form.elements['author-first']
    let author_last = form.elements['author-last']
    let review = form.elements['review']
    let book = new NewBook(title.value, author_first.value, author_last.value, review.value)
    e.preventDefault();
    book.postBook(book);
  })
</script>
